body{

}

/* Smartphones ----------- */
@media only screen and (min-width: 650px) {
  #fbLoginBtn { display: none; }
}

@media only screen and (max-width:650px){
	.mobileOnly {display: none;}
	iframe {
		
	}
}

#scrollBlock{
width: 100%;
height: 409px;
background-color: #FCFCFC;
position: absolute;
top: -10px;
display: none;
z-index: 2;
}


/* LOGIN PAGE STYLES */

#login .ui-content{
	text-align: center;
}

#login .ui-content #fbLoginBtn{
	width: 300px;
}

/* Header Styles */

#closeWishlist{
	display: none;
}
/* End Header Styles */


#incompatError{
	font-family: helvetica;
	font-weight: bold;
	font-size: 20px;
	padding-left: 5px;
	text-align: center;
	display: block;
}

#incompatError{
	display: block;
	margin: auto;
}

/* HOME PAGE STYLES */

.action{
	position: absolute;
	top: 170px;
	z-index: -1;
	left: 27%;
	opacity: 0;
	background-color: black;
	border-radius: 15px;

}

.thumb{
		width: 130px;
}

.ui-dialog-contain{
	z-index:2;
}


iframe {
	width: 420px !important;
	display: block;
	margin: auto;
	padding-bottom: 20px;
}

#like-button-inner {
	position: relative;
	width: 75px;
	bottom: 50px;
	margin: 0 auto;
}

#overlay{
	position:absolute;
	top: 0px;
	left: 0px;
	opacity: .9;
	width: 100%;
	height: 100%;
	background-color: white;
}

#logo{
	height: 45px;
}

.ui-content{

}

.ui-page{

}

#instructions{
	text-align: center;
	padding: 0 0 0 0;
	z-index: -1;
}

#instructions img{
	margin: auto;
	width: 69px;
	margin: auto;
}

#dialog{
	position: absolute;
	top: 15px;
}

#dialog img{
	width: 300px;
}

#home{
	overflow: hidden;
}

#homeContent{
	padding-top: 7px;
	padding-bottom: 4px;
	overflow: hidden;
}

.behind{
	text-align: center;
	position: absolute;
	z-index: -1;
	opacity: .2;
	display: none;
}

.comingUp{
	text-align: center;
}

.animateSlow{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}

.animateFast{
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.animate{
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.animateRock{
	-webkit-transition: -webkit-transform .4s;
	-moz-transition: -moz-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
}

.imageBox{
	text-align: center;
	overflow: hidden;
	width: 300px;
	height: 300px;
	border-radius: 2px;
//	border-radius: 1000px;
	background-position-y: -61px;
	background-position-x: 3px;
	margin: auto;
	//border: 2px solid #DBDBDB;
	box-shadow: 3px 2px 9px #E8E8E8;
	background-size: cover;
}

.ui-page{
	background-color: #FCFCFC !important; //this is to over-ride the background for square images
}

.ui-content{
	padding-left: 0;
	padding-right: 0;
}

#slider{
}

#slider img{
	display: none;
}


.productName{
	font-weight: bold;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	padding: 10px;
	width: 90%;
	border-radius: 29px;
	font-family: helvetica, verdana;
	font-weight: normal;
	font-size: 20px;

	display: none;
}

#wishlist2 {
	max-width: 400px;
	position: absolute;
	top: 49px;
	right: 0px;
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #FFFFFF;
	z-index: 1;
}

#toggle-wishlist img{
	width: 23px;
	opacity: .99;
	padding-top: 15px;
}

#toggle-wishlist{
	position: absolute;
	display: inline-block;
	top: 0px;
	right: -1px;
	height: 100%;
	border-left: 1px solid #3E3E3E;
	width: 46px;
	text-align: center;
}


.ui-btn {
	float: right;
}

#wishlistTitle{
	width: 141px;
	padding-top: 9px;
	margin-left: -7px;
	margin-bottom: -9px;
}

.wish-list-row {
	width: 100%;
	height: 60px;
	padding-bottom: 2px;
}

.wish-list-item {
	margin-top: -12px;
	margin-bottom: 0px;
	margin-right: 0px;
	width: 185px;
	height: 150px;
	background-size: cover;
	float: left;
	background-position-y: -61px;
	box-shadow: 3px 2px 9px #E8E8E8;
}

.ui-panel-inner{
	padding-left: 6px;
	padding-top: 0px;
	padding-right: 0px;
}

.hidden {
	display: none;
}

.item-name {
	text-decoration: none;
	float: left;
	font-size: 0.75em;
	height: 27px;
	margin-top: 23px;
	color: #181818;
	width: 248px;
	font-family: verdana;
	padding-left: 1px;
	padding-bottom: 10px;
}

.remove {
	text-decoration: none;
	float: right;
	font-size: 14px;
	height: 40px;
	margin-top: 14px;
	margin-right: 12px;
	color: white;
	cursor: pointer;
	background-color: black;
	padding: 9px;
	height: 15px;
	border-radius: 45px;
	width: 15px;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-family: verdana;
}


#inviteFriend{
	background-color: white;
	position: absolute;
	display: none;
}

#inviteFriend img{
	width: 280px;
	margin: auto;
}
