header{
}

@media (min-width: 980px) {

	.well{
		max-height: 400px;
	}

}

body{
	background-image: url('/images/wishlist/headBack.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-color: #FAF9FA;
}

#download{
	float: right;
	margin-top: -9px;
	width: 124px;
	margin-right: -8px;
	opacity: .9;
}

#userName{
	font-family: "helvetica neue", "myriad-pro";
	font-size: 28px;
	font-weight: 100;
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
}

#logo{
	width: 80px;
	padding-top: 6px;
	padding-left: 4px;
}

.page-header{
	margin-top: 18px;
	border: none;
	padding-top: 4px;
	padding-bottom: 6px;
	border-bottom: 1px solid #F7F6F7;
}

.post img.image{
}

h1{
	font-family: "helvetica neue", "myriad-pro";
	font-weight: 100;
	color: #FF0000;
	display: inline-block;
	font-size: 22px;
	position: absolute;
	left: 50%;
	margin-left: -33px;
	top: 27px;
}

#userInfo{
	padding-bottom: 20px;
	max-width: 350px;
	margin: auto;
	text-align: center;
}

#userImage img{
	border-radius: 200px;
}


/* General
------------------------------- */
#page {
  padding: 0;
}

/* Hero
------------------------------- */
header .page-header {
  padding-bottom: 15px;
}

header p.lead {
  margin-bottom: 0;
}

header div.actions {
  margin-top: 9px;
}

header div.actions .btn-toolbar {
  margin-bottom: 0;
}

/* Posts
------------------------------- */
.post h4 {
  margin: 0px;
  padding-left: 10px;
  background-color:  #FDFDFD;
  padding-top: 7px;
  padding-bottom: 6px;

  font-family: "myriad-pro";
  font-weight: 400;
  
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-top-bottom-radius: 10px;
  border-top-bottom-radius: 10px;

  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.post h4 a {
  color: #333;
}

.post img.image {
  max-width: 100%;
  margin-top: 0px;
  border-bottom: 1px solid #EDEDED;
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;

   -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;



}

/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/* JavaScript event trig­gered by media query rules
   @see: http://www.paulrhayes.com/2011-11/use-css-transitions-to-link-media-queries-and-javascript/
------------------------------- */
.mq {
  -webkit-transition: width 0.001ms;
  -moz-transition: width 0.001ms;
  -o-transition: width 0.001ms;
  transition: width 0.001ms;
  width: 0;
}
